.Header-container{
    background-color: black;
    padding-left: 15px;
    padding-right: 30px; 
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-container{
    display: flex;
    margin: 10px;
    align-items: center;
}
.logo-container h3{
    margin: 10px;
}
.logo-container img{
   width: 50px;
}
